body {
  background-color: #ececec;
  margin: 0 auto;
}
#navbar {
  background-color: #625c5c;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
#logo-container {
  width: 300px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
#logo-container img {
  height: 60px;
  margin-right: 15px;
}
#logo-container h2 {
  display: inline-block;
  color: white;
}
#profile-container {
  width: auto;
  float: right;
}
#profile-container > img {
  height: 60px;
  border-radius: 50%;
}
.main {
  height: calc(100vh - 80px);
}
.sidebar {
  background-color: #625c5c;
  height: 102%;
  width: 150px;
  float: left;
}
#container > h2 {
  color: #303030;
  margin: 0 0 10px 176px;
  text-decoration: underline;
}
#container {
  padding: 12px;
  margin-left: 10px;
}
.green-bg {
  background-color: #0ace82;
}
.purple-bg {
  background-color: #a259ff;
}
.red-bg {
  background-color: #f34e1e;
}
.cyan-bg {
  background-color: #1cbcfd;
}
#tile-container,
#circle-container {
  display: flex;
  padding-left: 47px;
}
#tile-container {
  margin-bottom: 15px;
}
.tile {
  height: 130px;
  width: 26%;
  float: left;
  margin-right: 19px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tile h2,
.tile h3 {
  color: white;
}
.circle,
.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 222px;
  float: left;
  width: 25%;
  padding: 18px;
  margin-right: 25px;
  border-radius: 53%;
}
#tile-container > div,
#circle-container > div {
  margin-right: 15px;
}
#tile-container > div:last-child,
#circle-container > div:last-child {
  margin-right: 0;
}
.inner-one {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-one h2,
.inner-four h2 {
  margin: auto;
  color: #fff;
}
.inner-two {
  width: 99%;
  height: 160%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.inner-two h2 {
  color: #555;
}
.inner-three {
  width: 85%;
  height: 93%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #ff7261;
  padding: 15px;
}
.inner-four {
  width: 46%;
  height: 49%;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  margin: auto;
}
.bar {
  width: 20px;
  position: absolute;
  overflow: hidden;
}
.chart {
  position: relative;
  display: block;
}
.chart div {
  bottom: 0;
}
.one {
  left: 30px;
  height: calc(110% - 30px);
  background-color: #0ace82;
}
.two {
  left: 60px;
  height: calc(85% - 10px);
}
.three {
  left: 90px;
  height: calc(117% - 70px);
}
.four {
  left: 80px;
  height: 166px;
  margin-left: 47px;
  background-color: cyan;
}
.five {
  left: 160px;
  height: calc(85% - 10px);
  background-color: #5e5c5d;
}
.six {
  left: 190px;
  height: calc(56% - 50px);
  background-color: #ff7261;
}
.line {
  left: 30px;
  width: 91%;
  height: 5px;
  background-color: #5e5c5d;
  position: absolute;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  width: 80%;
}
.sidebar nav a {
  color: white;
  padding: 5px;
}
.sidebar nav a:first-child {
  padding-top: 0;
}
.sidebar nav a.active {
  color: #0ace82;
  text-decoration: none;
}
