body {
  background-color: whitesmoke;
  margin: 0 auto;
}
#navbar {
  background-color: #625c5c;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
#logo-container {
  width: 300px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
#logo-container img {
  height: 60px;
  margin-right: 15px;
}
#logo-container h2 {
  display: inline-block;
  color: white;
}

#profile-container {
  width: auto;
  float: right;
}
#profile-container > img {
  height: 60px;
  border-radius: 50%;
}
.main {
  height: calc(100vh - 80px);
}
.sidebar {
  background-color: #625c5c;
  height: 100%;
  width: 150px;
  float: left;
}
#container > h2 {
  color: #555;
  margin: 0 0 10px 0;
  text-decoration: underline;
}
#container {
  padding: 12px;
  margin-left: 10px;
}

.green-bg {
  background-color: #06ce83;
}

.purple-bg {
  background-color: #a25aff;
}

.red-bg {
  background-color: #f24e1d;
}

.cyan-bg {
  background-color: #1cbcfd;
}

#tile-container,
#circle-container {
  display: flex;
  padding-left: 8px;
}

#tile-container {
  margin-bottom: 15px;
}

.tile {
  height: 130px;
  width: 231px;
  float: left;
  margin-right: 19px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tile h2,
.tile h3 {
  color: white;
}

.circle,
.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  float: left;
  width: 170px;
  padding: 50px;
  margin-right: 25px;
  border-radius: 70%;
}

#tile-container > div,
#circle-container > div {
  margin-right: 15px;
}

#tile-container > div:last-child,
#circle-container > div:last-child {
  margin-right: 0;
}

.inner-one {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-one h2,
.inner-four h2 {
  color: #fff;
}

.inner-two {
  width: 110%;
  height: 160%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.inner-two h2 {
  color: #555;
}

.inner-three {
  width: 94%;
  height: 109%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #ff7262;
  padding: 15px;
}

.inner-four {
  width: 67%;
  height: 64%;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  margin-top: 21px;
}

.bar {
  width: 20px;
  position: absolute;
  overflow: hidden;
}

.chart {
  position: relative;
  display: block;
}

.chart div {
  bottom: 0;
}

.one {
  left: 50px;
  height: calc(100% - 30px);
}

.two {
  left: 80px;
  height: calc(100% - 10px);
}

.three {
  left: 108px;
  height: calc(100% - 70px);
}

.four {
  left: 161px;
  height: 76px;
  margin-left: 47px;
}

.five {
  left: 173px;
  height: calc(100% - 10px);
}

.six {
  left: 137px;
  height: calc(100% - 50px);
}

.line {
  width: 92%;
  height: 5px;
  background-color: #625b5b;
  position: absolute;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  width: 80%;
}

.sidebar nav a {
  color: white;
  padding: 5px;
}

.sidebar nav a:first-child {
  padding-top: 0;
}

.sidebar nav a.active {
  color: #06ce83;
  text-decoration: none;
}
